/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --blue: #0065FC;
    --grey: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --white:white;
}

.directionRow {
    display: flex;
    flex-direction: row;
}

body {
    /* margin: 0; */
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

header { 
    display: flex;
    justify-content: space-between;
}
/* on change la taille du logo et on le descend de 15 px */
header img {
    height: 20px;
    width: 60px;
    padding-top: 15px;
}
/* on rend flexible le bloque  */
nav {
    display: flex;
}
/* on mets en place un margin left pour séparer les 2 liens */
nav a {
    display: flex;
    margin-left: 47px;
    align-items: center;
}
/* au survole du pointeur le texte devient bleu et une barre apparait */
nav a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

a {
    color: inherit;
    text-decoration: none;
}

/******************** bonton recherche ********************************/
.left-button {
    /* Barre de recherche de ville */
    margin-bottom: 10px;
}

.left-button input,
i,
button {
    font-weight: bold;
}

.map-logo {
    display:flex;
    background-color: var(--grey);
    border-radius: 15px 0 0 15px;
    height: 51px;
    width: 45px;
    justify-content: center;
    align-items: center;   
}

input {
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    /* font-weight: bold; */
    border-left-style: none;
    border-right-style: none;
    border-color: rgba(94, 93, 93, 0.1);
    /* border-color: var(--grey); */
    border-width: 1px;
    text-align: center;
}

.research-btn .rechercher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0 15px 15px 0;
    /* font-weight: bold; */
    height: 51px;
    padding: 0px 20px 0px 20px;
    border: 0px;
}

.research-btn .i {
    display: none;
    color: var(--white);
}

/******************** boutons filtre ************************/
.buttons p {
    font-weight: bold;
}


.content-box p,
 button {
    font-weight: bold;
}

.smallButton {
	/* margin: 20px 0px;
	padding: 28px 40px; */
    height: 45px;
    width: 185px;

	background-color: white;

	border-style: solid;
	border-width: 2px;
	border-radius: 5px;

	/* box-sizing: border-box; */

	/* font-weight: 600;
	font-size: 16px;
	line-height: 17px; */

	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;
}

.Button {
	/* margin: 20px 0px;
	padding: 28px 40px; */
    height: 45px;
    width: 295px;

	background-color: white;

	border-style: solid;
	border-width: 2px;
	border-radius: 5px;

	/* box-sizing: border-box; */

	/* font-weight: 600;
	font-size: 16px;
	line-height: 17px; */

	display: flex;
	align-items: center;
	justify-content: center;

	text-decoration: none;
}

.name-bar div {
    display: flex;
	align-items: center;
	justify-content: center;

    border-style: solid;
	border-width: 2px;
	border-radius: 50% 50% 50% 50%;

    border-color: var(--grey);

    height: 10px;
    width: 10px;
    padding: 10px;
}

.logo-info i {
    display: flex;
	align-items: center;
	justify-content: center;

    height: 1px;
    width: 1px;
}

.fa-solid {
    color: var(--blue);
}

.fa-solidWhite {
    color: var(--white);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--grey)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--grey);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
