/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /************* début de la partie modifiée *************************/
    main .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    nav a:hover {
        border-top: 2px solid var(--main-color) opacity 0;
        border-bottom: 2px solid var(--main-color);  
    }
    .main-container header { 
        flex-direction: column;
        align-items: center; 
    }
    /************* fin de la partie modifiée *************************/
}